.footer-container
  background-color: #f8f9fa
  padding: 20px
  font-family: Arial, sans-serif
  color: #5E6282
  margin: 0rem 8rem
  font-family: 'Poppins' !important
     

  .company-info
    margin-bottom: 20px

  .company-meta
    font-size: 13px !important
    color: #5E6282 !important

  h5
    font-size: 21px
    color: #080809 !important
    margin-bottom: 10px

  p
    font-size: 0.9rem

  ul
    list-style: none
    padding: 0

    li
      margin-bottom: 5px
      a
        text-decoration: none
        color: #5E6282
        &:hover
          text-decoration: underline

  .app-links
    display: flex
    justify-content: space-between
    a
      margin-right: 10px
      img
       width : 100%
    

  .descover
    h6
      color: #5E6282 !important

    .social-links
     .fa-brands
        display: flex
        align-items: center
        justify-content: center
        background: #FFFFFF 0% 0% no-repeat padding-box
        box-shadow: 0px 2px 20px #0000001A 
        color: #080809
        width: 41px
        height: 41px
        border-radius: 50%
        font-size: 12px 
        cursor: pointer

  .social-media
    border-top: 1px solid #ddd
    padding-top: 10px
    p
      margin: 0


@media (max-width: 1018px)
  .footer-container
    margin: 0rem 4rem !important