<div class="footer-container">
  <div class="row company-info">
    <div class="col-md-4">
      <div class="company-logo mb-2">
        <img src="assets/img/logo.png" alt="Link Development Logo" />
      </div>
      <p class="company-meta w-75">
        We make technology produce productive, adaptable and sustainable
        business experiences.
      </p>
    </div>

    <div class="col-md-2">
      <h5 class="fw-bold pb-2">Company</h5>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Mobile</a></li>
      </ul>
    </div>

    <div class="col-md-2">
      <h5 class="fw-bold pb-2">Contact</h5>
      <ul>
        <li><a href="#">Help/FAQ</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Affiliates</a></li>
      </ul>
    </div>

    <div class="col-md-2">
      <h5 class="fw-bold pb-2">Media</h5>
      <ul>
        <li><a href="#">News</a></li>
        <li><a href="#">Photo</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </div>

    <div class="col-md-2 descover">
        <div class="social-links d-flex justify-content-around mb-3">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
      <h6 class="py-2">Discover our app</h6>
      <div class="app-links">
        <a href="#"><img src="assets/img/googlePlay.png" alt="Google Play" /></a>
        <a href="#"><img src="assets/img/appStore.png" alt="Apple Store" /></a>
      </div>
    </div>
  </div>

  <div class="row social-media">
    <div class="col-md-12 text-center">
      <p>All rights reserved © Linkdevelopment.com</p>
    </div>
  </div>
</div>
