<section class="about-wrapper mb-5">
  <div class="about-content">
    <h2>We Deliver Digital Productivity</h2>
    <p>
      We craft technology solutions that digitally bond and transform the
      productivity of our customers and their citizens, workers, consumers and
      partners.
    </p>

    <div class="about-img-group about-img-group_1">
      <div class="img-container img_1">
        <span class="info">Crafty Mind</span>
        <span class="read-more">&#8594; Read more</span>
      </div>
      <div class="img-container img_2">
        <span class="info">Services</span>
        <span class="read-more">&#8594; Read more</span>
      </div>
    </div>
    <div class="about-img-group about-img-group_2">
      <div class="img-container img_3">
        <span class="info">Envision</span>
        <span class="read-more">&#8594; Read more</span>
      </div>
      <div class="img-container img_4">
        <span class="info">Dynamic 365</span>
        <span class="read-more">&#8594; Read more</span>
      </div>
    </div>
    <div class="about-img-group about-img-group_3">
      <div class="img-container img_5">
        <span class="info">Transformation</span>
        <span class="read-more">&#8594; Read more</span>
      </div>
    </div>
  </div>
</section>
